@page "/"
@using Application;
@using Domain;
@using MediatR;
@inject IMediator mediator;

<h1>Hello, world!</h1>

<button @onclick="AddPerson">Add Random Person</button>

<ul>
	@foreach(var p in people)
	{
		<li>@p.FirsName @p.LastName</li>
	}
</ul>


@code{
	private IEnumerable<Person> people;

	protected override async Task OnInitializedAsync()
	{
		people = await mediator.Send(new GetPeopleQuery());
	}

	private void AddPerson()
	{
		var p = new Person("New", "Person");
		mediator.Send(new AddPersonCommand(p));
		var l = new List<Person>(people);
		l.Add(p);
		people = l;
	}
}
