@page "/"
@using Application;
@using Domain;
@using MediatR;
@inject IMediator mediator;

<h1>Hello, world!</h1>

<ul>
	@foreach(var p in people)
	{
		<li>@p.FirsName @p.LastName</li>
	}
</ul>

@code{
	private IEnumerable<Person> people;

	protected override async Task OnInitializedAsync()
	{
		people = await mediator.Send(new GetPeopleQuery());
	}
}
